* {
  box-sizing: border-box;
}

:root {
  --main-background: #002d2d;
  --alt-background: #004c3f;
}

::selection {
  background-color: var(--alt-background);
  color: white;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Recoleta;
  src: url(../webfonts/font/Recoleta-Black.ttf);
}

body {
  font-family: 'Outfit', sans-serif;
  /* font-family: Recoleta;  */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*start header*/
.announcement {
  padding: 1em;
  text-align: center;
  font-size: 0.875em;
  color: #ffffff;
  background-color: #212326;
  display: none;
  border-bottom: 1px solid transparent
}

.announcement.is-active {
  display: flex;
  align-items: center;
  justify-content: center
}

.announcement+.announcement {
  border-top: 1px solid #d2d5d9
}

.announcement__content {
  display: inline-block;
  margin-bottom: 0
}

.announcement__link {
  white-space: nowrap
}

.announcement__icon {
  fill: currentColor
}

.announcement__close {
  margin-bottom: -1em;
  margin-top: -1em;
  margin-left: 8px;
  padding: 1em;
  min-width: 44px;
  align-self: flex-start
}

.announcement__close>.icon {
  vertical-align: middle
}

.paid-trial-banner {
  background-color: #a5e3b9;
  color: black;
  font-size: 16px
}

.paid-trial-banner a {
  color: black;
  font-weight: bold
}

.icon {
    display: inline-block;
    width: 0.8em;
    height: 1em;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat
}

.icon--size-large {
    width: 60px;
    height: 60px
}

.icon--size-small {
    width: 45px;
    height: 45px
}

.icon--fill-primary {
    fill: #008060
}

.icon--fill-black {
    fill: #000000
}

.icon--fill-white {
    fill: #ffffff
}

.icon--fill-green {
    fill: #008060
}
/*end header*/
/*start navbar*/
nav {
  background-color: var(--main-background);
  padding-top: 15px;
  padding-bottom: 15px;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*start nav-right*/
nav .right {
  display: flex;
  align-items: center;
}

nav .right img {
  width: 130px;
}

nav .right ul {
  display: flex;
  align-items: center;
}

nav .right a {
  color: #fff;
  margin-right: 28px;
  font-size: 17px;
  display: inline-block;
}

/*end nav-right*/
/*start nav-left*/
nav .left ul {
  display: flex;
  align-items: center;
}

nav .left a {
  color: #fff;
  font-size: 17px;
  margin-left: 30px;
  display: inline-block;
}

nav .left li:last-child a {
  background-color: #008060;
  padding: 15px 20px;
  border-radius: 4px;
  font-weight: 600;
}

/*end nav-left*/
/*end navbar*/
/*start main*/
main {
  background-color: var(--main-background);
  padding-left: 90px;
}

main .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .text {
  width: 50%;
  padding-right: 60px;
}

main .text h1 {
  font-size: 58px;
  color: #fff;
  margin-bottom: 20px;
}

main .text p.one {
  font-size: 18px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 30px;
}

main .text form input {
  border-radius: 4px;
  padding: 16px 15px;
  width: 330px;
  outline: none;
  border: 1px solid transparent;
  margin-bottom: 8px;
}

main .text form button {
  background-color: #008060;
  color: #fff;
  border-radius: 4px;
  padding: 16px 25px;
  outline: none;
  font-weight: 600;
  margin-left: 10px;
  border: 1px solid var(--alt-background);
  cursor: pointer;
}

main .text p.two {
  font-size: 14px;
  color: #fff;
  line-height: 20px;
}

main .image {
  width: 50%;
}

main .image img {
  width: 100%;
  margin-bottom: -5px;
  background-color: white;
}

/*end main*/





.editions__heading {
  font-weight: 500;
  font-size: 3em;
  line-height: 3.4375rem;
  letter-spacing: -0.0625rem;
  margin-bottom: 1.75rem
}

.editions__content {
  margin-bottom: 3.125rem
}

.help__section {
  padding: 0;
  position: relative
}

.help__content-container {
  padding-left: 5em;
  margin: 96px 0
}

@media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
  .help__content-container {
    padding-left: 3.375em;
    padding-right: 3.375em
  }
}

@media screen and (max-width: 46.8125em) {
  .help__content-container {
    padding-left: 2.171875em;
    padding-right: 2.171875em
  }
}

.help__heading {
  font-weight: 500;
  font-size: 3em;
  line-height: 3.75rem;
  letter-spacing: -0.0625rem;
  width: 60%
}

@media (min-width: 1513px) and (max-width: 1529px) {
  .help__heading {
    width: 70%
  }
}

@media (max-width: 1512px) {
  .help__heading {
    width: 80%
  }
}

@media (max-width: 1199px) {
  .help__heading {
    width: 90%
  }
}

@media (max-width: 1089px) {
  .help__heading {
    width: 100%
  }
}

@media screen and (max-width: 46.8125em) {
  .help__heading {
    width: 100%;
    font-size: 2.125em;
    line-height: 2.375rem
  }
}

@media screen and (min-width: 46.875em) {
  .help__card:nth-child(-n+2) {
    margin-bottom: 3.875em
  }
}

.help__card-heading {
  font-weight: 500;
  font-size: 1.125em;
  line-height: 1.5rem;
  color: #000000
}

.help__image-container {
  padding: 0
}

.picture--cover {
  display: block;
  height: 100%;
  width: 50%
}

.picture--cover img {
  display: block;
  width: 100%;
  height: 100%
}

@media screen and (min-width: 67.5em) {
  .help__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    object-fit: cover
  }
}

.bottom-signup__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center
}

.bottom-signup__heading {
  font-weight: 700;
  font-size: 2.25em;
  line-height: 3rem;
  margin-bottom: 16px
}

.bottom-signup__subhead {
  font-size: 1.25em;
  line-height: 1.875em
}

.footer--main {
  background-color: #004c3f
}

.footer-nav__list-item a {
  border-bottom: 0.125em solid transparent
}

.footer-link,
.footer-bottom__list-item a {
  color: #ffffff
}

@media (max-width: 1040px) {
  .hide-theme-desktop-image {
    display: none
  }
}

@media (min-width: 1041px) {
  .hide-theme-mobile-image {
    display: none
  }
}
.editions__section {
  background: #fbfbff
}

.editions__image-container {
  display: flex;
  justify-content: center
}

.editions__image {
  min-width: 37.5em
}

@media screen and (max-width: 67.4375em) {
  .editions__image {
    min-width: 25em
  }
}

.editions__text-container {
  padding-right: 16.6666666666%;
  padding-left: 32px
}

@media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
  .editions__text-container {
    padding-right: 8.3333333333%
  }
}

@media screen and (max-width: 46.8125em) {
  .editions__text-container {
    padding-right: 0;
    padding-left: 0
  }
}

.editions__heading {
  font-weight: 500;
  font-size: 3em;
  line-height: 3.4375rem;
  letter-spacing: -0.0625rem;
  margin-bottom: 1.75rem
}

.editions__content {
  margin-bottom: 3.125rem
}

.help__section {
  padding: 0;
  position: relative
}

.help__content-container {
  padding-left: 5em;
  margin: 96px 0
}

@media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
  .help__content-container {
    padding-left: 3.375em;
    padding-right: 3.375em
  }
}

@media screen and (max-width: 46.8125em) {
  .help__content-container {
    padding-left: 2.171875em;
    padding-right: 2.171875em
  }
}

.help__heading {
  font-weight: 500;
  font-size: 3em;
  line-height: 3.75rem;
  letter-spacing: -0.0625rem;
  width: 60%
}

@media (min-width: 1513px) and (max-width: 1529px) {
  .help__heading {
    width: 70%
  }
}

@media (max-width: 1512px) {
  .help__heading {
    width: 80%
  }
}

@media (max-width: 1199px) {
  .help__heading {
    width: 90%
  }
}

@media (max-width: 1089px) {
  .help__heading {
    width: 100%
  }
}

@media screen and (max-width: 46.8125em) {
  .help__heading {
    width: 100%;
    font-size: 2.125em;
    line-height: 2.375rem
  }
}

@media screen and (min-width: 46.875em) {
  .help__card:nth-child(-n+2) {
    margin-bottom: 3.875em
  }
}

.help__card-heading {
  font-weight: 500;
  font-size: 1.125em;
  line-height: 1.5rem;
  color: #000000
}

.help__image-container {
  padding: 0
}

.picture--cover {
  display: block;
  height: 100%;
  width: 50%
}

.picture--cover img {
  display: block;
  width: 100%;
  height: 100%
}

@media screen and (min-width: 67.5em) {
  .help__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    object-fit: cover
  }
}

.bottom-signup__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center
}

.bottom-signup__heading {
  font-weight: 700;
  font-size: 2.25em;
  line-height: 3rem;
  margin-bottom: 16px
}

.bottom-signup__subhead {
  font-size: 1.25em;
  line-height: 1.875em
}

.footer--main {
  background-color: #004c3f
}

.footer-nav__list-item a {
  border-bottom: 0.125em solid transparent
}

.footer-link,
.footer-bottom__list-item a {
  color: #ffffff
}

@media (max-width: 1040px) {
  .hide-theme-desktop-image {
    display: none
  }
}

@media (min-width: 1041px) {
  .hide-theme-mobile-image {
    display: none
  }
}





/*start section help*/
.help {
  background-color: #fbf7ed;
  margin-top: 50px;
}

.help .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-left: 80px;
}

.help .text {
  width: 50%;
  padding-right: 68px;
}

.help .text h2 {
  font-size: 48px;
  color: #212326;
}

.help .text .box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.help .text .box h3 {
  font-size: 18px;
  font-weight: 300;
}

.help .text .box p {
  color: #6b7177;
  line-height: 20px;
}

.help .text .box a {
  color: #008061;
  font-weight: 600;
}

.help .text .box svg {
  margin-left: 8px;
}

.help .image {
  width: 50%;
}

.help .image img {
  width: 100%;
  margin-bottom: -5px;
}

/*end section help*/
/*start section business*/
.business {
  margin-top: 90px;
  margin-bottom: 90px;
  text-align: center;
}

.business .box h2 {
  color: #212326;
  font-size: 36px;
  margin-bottom: 14px;
}

.business .box p {
  color: #6b7177;
  font-size: 20px;
}

.business .box a {
  color: #fff;
  padding: 16px 25px;
  background-color: #008060;
  border-radius: 4px;
  font-weight: 600;
  display: inline-block;
  margin-top: 15px;
  transition: .3s;
}

.business .box a:hover {
  background-color: var(--alt-background);
}

/*end section business*/
/*start footer*/
footer {
  background-color: var(--alt-background);
  color: #fff;
  padding-top: 30px;
}

/*start upper-footer*/
footer .upper-footer {
  border-bottom: 1px solid rgba(210, 213, 217, 0.1);
  padding-bottom: 25px;
}

footer .upper-footer ul {
  display: flex;
  align-items: center;
}

footer .upper-footer a {
  color: #fff;
  margin-right: 30px;
  font-weight: 600;
}

/*end upper-footer*/
/*start footer-body*/
footer .footer-body {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 25px;
  padding-top: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(210, 213, 217, 0.1);
}

footer .footer-body h3 {
  font-size: 14px;
}

footer .footer-body a {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  margin-bottom: 18px;
}

footer .footer-body .one {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/*end footer-body*/
/*end footer-down*/
footer .footer-down {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 30px;
}

footer .footer-down .left ul {
  display: flex;
  align-items: center;
}

footer .footer-down .left a {
  margin-left: 30px;
  background-color: #fff;
  padding: 4px 6px;
  border-radius: 50%;
}

footer .footer-down .left svg {
  color: var(--alt-background);
}

footer .footer-down .right ul {
  display: flex;
  align-items: center;
}

footer .footer-down .right a {
  display: inline-block;
  color: #fff;
  margin-left: 15px;
}

/*end footer-down*/
/*end footer*/
Footer © 2022 GitHub,
Inc. Footer navigation Terms Privacy Security Status Docs Contact GitHub Pricing API Training Blog About